 <table class="table table-striped" id="pstable">
    <thead>
        <tr>
            <th class="per5">
                #
            </th>
            <th >姓名</th>
            <th >部门</th>
            <th >职务</th>
            <th>所属公司</th>
            <th >签到时间&nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;   &nbsp;  &nbsp;  &nbsp;  总计：<span class="badge">{{ checkin_count | default:"0" }}</span></th>
        </tr>
    </thead>
    <tbody>
        {% if checkin_info %}
            {% for ci in checkin_info %}
            <tr>
                <td>
                    {{forloop.counter}}
                </td>
                <td>{{ ci.name }}</td>
                <td>{{ ci.department|truncatechars:20 }}</td>
                <td>{{ ci.position }}</td>
                <td width="300px">{{ ci.company }}</td>
                <td width="300px">{{ ci.checkin_time }}</td>
            </tr>
            {% endfor %}
        {%endif%}
    </tbody>
</table>
